[submodule "dependencies/fonts"]
	path = dependencies/fonts
	url = https://github.com/powerline/fonts
[submodule "dependencies/spaceship"]
	path = dependencies/spaceship
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "dependencies/dotbot"]
	path = dependencies/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "dependencies/oh-my-zsh"]
	path = dependencies/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "dependencies/asdf"]
	path = dependencies/asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "dependencies/vim-plug"]
	path = dependencies/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "dependencies/nord-iterm2"]
	path = dependencies/nord-iterm2
	url = https://github.com/arcticicestudio/nord-iterm2.git
